@page
@model SmartHome.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    var commandText = "";
}

@Html.AntiForgeryToken()
<div class="row" id="dvItems">

    @foreach (var light in Model.Lights)
    {
        <div class="col-md-4 col-sm-6 mb-4">
            @{commandText = "set" + light.Code + (light.Status ? "00" : "01");}
            <div class="card text-center align-items-center">
                <button data-item-commandtext="@commandText" data-item-id="@light.Id" type="button" class="btn-no-style @(light.Status ? "" : "btn-no-style-off ")btn-light">
                    &nbsp;
                </button>
                <div class="card-body">
                    <p class="card-text"> @light.Description <small>(@light.Code)</small></p>
                </div>
            </div>
        </div>
    }
</div>